.link {
  position: relative;
  padding-block: 0.25rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -2px;
    height: 1px;
    background-color: currentColor;
    transition: right 200ms ease;
  }

  &:hover::after,
  &.active::after {
    right: 0;
  }
}
