.about {
    h4 {
        font-family: $cali;
        font-size: 60px;
        line-height: 50px;
    }

    h1 {
        font-family: $maison;
    }

    &::before {
        content: "சத்யா";
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 0;
        font-size: 35vw;
        padding: 0 36px;
        background: linear-gradient(135deg, rgba(112, 213, 255, .9), rgba(0, 89, 188, .9), rgba(112, 213, 255, .9));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: endlessly 10s ease infinite;
        color: #d7dde6;
        opacity: .1;
        transform: translateX(-50%) translateY(-50%);
    }
}

.about-heading {
    text-align: center;
    margin-top: 11rem;
}

.about-section {
    gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 0.5fr 0.75fr;
    grid-auto-columns: 1fr;
    margin-top: 8rem;
    display: grid;

    @media screen and (max-width: $ipad) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

.about-text {
    font-size: 30px;
    line-height: 48px;
    font-weight: 100;

    li {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        span {
            display: block;
            font-size: 20px;
            color: #7f91ad;
            margin-top: -5px;
            margin-bottom: 5px;
        }
    }
}
