.about {
    h4 {
        font-family: $cali;
        font-size: 60px;
        line-height: 50px;
    }
}

.about-heading {
    text-align: center;
    margin-top: 11rem;
}

.about-section {
    gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 0.5fr 0.75fr;
    grid-auto-columns: 1fr;
    margin-top: 8rem;
    display: grid;

    @media screen and (max-width: $ipad) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

.about-text {
    font-size: 30px;
    line-height: 40px;
    font-weight: 100;

    li {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        span {
            display: block;
            font-size: 20px;
            color: #7f91ad;
            margin-top: -5px;
            margin-bottom: 5px;
        }
    }
}