body {
  color: rgb(15, 15, 15);
  background-color: #f4f9fd;
  transition: background-color 300ms ease;
  font-size: 1rem;
  font-family: $maison-light;
  overflow-x: hidden;
}

h1,
.villain {
  font-weight: 400;
  font-size: 7rem;
  font-family: $cali;
  padding-bottom: 2rem;
  position: relative;
  line-height: 100%;
  z-index: 3;
  pointer-events: auto;
  @include gradient-text;

  @media screen and (max-width: $mobile) {
    font-size: 4rem;
    padding-bottom: 2rem;
  }

  div {
    display: inline-block;
  }

  .nbsp {
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
}

h1 {
  div {
    &:first-child {
      margin-right: -1rem;

      @media screen and (max-width: $mobile) {
        margin-right: -0.5rem;
      }
    }
    &:last-child {
      margin-left: -1rem;

      @media screen and (max-width: $mobile) {
        margin-right: -0.5rem;
      }
    }
  }
}

h2 {
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $slate;
  position: relative;
  z-index: 3;
  pointer-events: auto;

  span {
    position: relative;
    transition: all 300ms ease;
    margin: 5px 0;
    display: inline-block;

    @media screen and (max-width: $mobile) {
      margin: 0;
    }

    &.x {
      color: rgb(121, 166, 196);

      @media screen and (max-width: $mobile) {
        display: block;
        margin: 0;
      }
    }

    &::before {
      content: "";
      width: 1px;
      height: 200%;
      background-color: white;
      box-shadow: 0 0 15px 0px white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      top: 0;
      transition: all 150ms ease;
      opacity: 0;
    }

    &:nth-child(even) {
      &::before {
        transform: translateX(-50%) translateY(-150%);
      }
    }
    &:nth-child(odd) {
      &::before {
        transform: translateX(-50%) translateY(150%);
      }
    }

    &:not(.x):hover {
      color: white;
      text-shadow: 0 0 15px white;
      transition: none;
      transform: scale(1.15);
      cursor: pointer;
      &::before {
        transform: translateY(-50%);
        opacity: 1;
        top: 50%;
      }
    }
  }
}

main {
  padding: 0 6vw;
  overflow-x: hidden;
  box-sizing: border-box;

  @media screen and (max-width: $mobile) {
    padding: 0;

    .homepage &,
    .about & {
      padding: 0 2rem;
    }
  }
}

section {
  margin-bottom: 20rem;

  @media screen and (max-width: $mobile) {
    margin-bottom: 10rem;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-bottom: 8rem;
    overflow-x: hidden;
    margin: 0 auto;

    .heading-desc {
      max-width: 420px;
      width: calc(100% - 4rem);
      font-size: 14px;
      margin-top: 2rem;
      color: $slate;
      text-align: center;
    }

    h3 {
      font-size: 5rem;
      z-index: 3;
      margin-bottom: -1rem;
      position: relative;
      font-weight: 400;
      font-family: $cali;
      text-shadow: none;

      &::before {
        content: "";
        width: 108%;
        height: 8px;
        position: absolute;
        bottom: 14px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        border-bottom: 8px solid $baby;
      }

      @media screen and (max-width: $mobile) {
        font-size: 4rem;
      }
    }
  }
}

.col {
  width: 100%;
}

.col-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 8rem;

  > div {
    width: 100%;
  }

  @media screen and (max-width: $screen) {
    flex-direction: column;
  }
}

.col-3 {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 8rem;
  display: grid;

  @media screen and (max-width: $screen) {
    grid-template-columns: 1fr;
  }
}

.split-70-30 {
  > div:first-child {
    width: 70%;
  }
  > div:last-child {
    width: fit-content;
  }
  @media screen and (max-width: $screen) {
    > div:first-child {
      width: 100%;
    }
    > div:last-child {
      width: 100%;
    }
  }
}

.constrained {
  max-width: $ipad;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.full-width {
  width: 100%;
  display: block;
  margin-bottom: 8rem;
}

.text-block {
  padding: 2rem 2rem;
  margin: 0 auto 8rem;
  max-width: 660px;
  width: 100%;
  font-size: 20px;
  line-height: 34px;
  font-weight: 100;
}

.grid-2 {
  grid-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  @media screen and (max-width: $screen) {
    grid-template-columns: 1fr;
  }
}

.full-small {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.info {
  text-align: right;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;

  @media screen and (max-width: $screen) {
    text-align: left;
  }

  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.description {
  width: 100%;

  p {
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
  }
}
