#designs {
    .swiper-slide {
        position: relative;
        // border: 2px solid white;
        // border-radius: 10px;

        &:hover {
            &::after {
                background-color: rgb(3 17 43 / 20%);
            }

            h3 {
                text-shadow:
                    0 0 15px white,
                    0 0 5px white,
                    0 0 5px rgba(0, 0, 0, 0.478),
                    0 0 15px rgba(0, 0, 0, 0.98),
                    0 0 25px rgba(0, 0, 0, 0.424);
            }
        }

        &::after {
            position: absolute;
            content: "";
            background-color: rgb(3 17 43 / 50%);
            width: 100%;
            transition: background-color 300ms ease;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
        }

        h3 {
            font-weight: 100;
            font-size: 52px;
            line-height: 50px;
            position: absolute;
            top: 50%;
            left: -40px;
            z-index: 2;
            max-width: 320px;
            width: 100%;
            transform: translateY(-50%);
            text-shadow:
                0 0 15px white,
                0 0 5px white;

            @media screen and (max-width: $ipad) {
                font-size: 36px;
                line-height: 30px;
                max-width: 200px;
            }
        }

        a {
            color: white;
        }

        img {
            border-radius: 10px;
        }
    }

    .swiper-pagination-bullets {
        display: none;
        bottom: -60px;
    }
    .swiper-pagination-bullet {
        background: white;
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
        border-radius: 0;
        transform: rotate(45deg);
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
    }
}

.design {
    background-attachment: fixed;

    h1 {
        margin-top: 11rem;
        font-size: 6rem;
        text-align: center;
        font-family: $maison;

        @media screen and (max-width: $ipad) {
            font-size: 3rem;
        }
    }

    main {
        max-width: 80vw;
        margin: 0 auto;
    }

    .website-heading {
        margin-bottom: 4rem;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .website-info {
        text-align: right;
        font-size: 14px;
        line-height: 20px;
        font-weight: 100;

        @media screen and (max-width: $ipad) {
            text-align: left;
        }

        &:not(:first-child) {
            margin-top: 1.5rem;
        }
    }

    .website-description {
        width: 100%;

        p {
            font-size: 20px;
            line-height: 34px;
            font-weight: 100;
        }
    }

    label {
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 10px;
        text-shadow: 0 1px 8px #fffc;
    }

    img {
        border-radius: 15px;
        box-shadow:
            0 0 35px 0 rgba(0, 0, 0, 0.1),
            0 0 65px 0 rgba(0, 0, 0, 0.1),
            0 0 55px 0 rgba(0, 0, 0, 0.1);
    }
}
