#designs {
    .swiper-slide {
        position: relative;
        transition: transform 300ms ease;
        &:hover {
            transform: translateY(-10px);

            &::after {
                background-color: rgb(3 17 43 / 20%);
            }
        }

        &::after {
            position: absolute;
            content: "";
            background-color: rgb(108 170 215 / 25%);
            width: 100%;
            transition: background-color 300ms ease;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            border-radius: 10px;
        }

        h4 {
            font-weight: 300;
            font-size: 2.75rem;
            line-height: 48px;
            position: absolute;
            font-family: $maison-medium;
            top: 50%;
            left: -40px;
            z-index: 2;
            max-width: 320px;
            width: 100%;
            transform: translateY(-50%);
            text-shadow:
                0 0 15px white,
                0 0 5px white,
                0 0 15px rgba(0, 0, 0, 0.478),
                0 0 25px rgba(0, 0, 0, 0.48),
                0 0 35px rgba(0, 0, 0, 0.424);

            @media screen and (max-width: $screen) {
                font-size: 32px;
                line-height: 36px;
                max-width: 215px;
            }

            @media screen and (max-width: $ipad) {
                font-size: 28px;
                line-height: 28px;
                max-width: 215px;
            }
        }

        a {
            color: white;
        }

        img {
            border-radius: 10px;
        }
    }
}

.design {
    h1 {
        margin-top: 8rem;
        font-size: 6rem;
        text-align: center;
        padding-bottom: 6rem;
        font-family: $maison-medium;

        @media screen and (max-width: $screen) {
            font-size: 4rem;
            padding-bottom: 4rem;
            margin-top: 6rem;
        }
    }

    main {
        max-width: 80vw;
        margin: 0 auto;
    }

    .design-info {
        text-align: right;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;

        @media screen and (max-width: $screen) {
            text-align: left;
        }

        &:not(:first-child) {
            margin-top: 1.5rem;
        }
    }

    .design-content {
        img {
            border-radius: 15px;
            box-shadow:
                0 0 35px 0 rgba(0, 0, 0, 0.1),
                0 0 65px 0 rgba(0, 0, 0, 0.05),
                0 0 55px 0 rgba(0, 0, 0, 0.1);
        }
    }
}
