.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 550px;

  @media screen and (max-width: $mobile) {
    height: 700px;
  }
}

.website-version {
  position: absolute;
  right: -17px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 8px;
  font-family: "Maison";
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  opacity: 0.35;

  @media screen and (max-width: $mobile) {
    right: -15px;
    top: 46%;
  }
}

.pronounce {
  font-size: 0.5rem;
  margin-bottom: -2.25rem;
  margin-left: 10px;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 300ms ease;

  @media screen and (max-width: $mobile) {
    margin-bottom: 0;
    opacity: 1;
  }

  &::before,
  &::after {
    content: "/";
    color: $blue;
    padding: 0 0.5rem;
  }
}

// figure {
//   position: relative;
//   width: 100%;
//   height: 100%;
// }

.planet {
  background-color: #00b381;
  max-width: 500px;
  max-height: 500px;
  height: 100%;
  width: 100%;
  border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  opacity: 0.4;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  position: absolute;
  z-index: -4;
  top: 0;
  aspect-ratio: 1;

  left: -100px;
}

.planet-two {
  background-color: #469ee6;
  max-width: 400px;
  max-height: 400px;
  height: 100%;
  aspect-ratio: 1;

  width: 100%;
  border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  opacity: 0.4;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  position: absolute;
  z-index: -2;
  top: -250px;
  right: 0;
}

.planet-three {
  position: absolute;
  aspect-ratio: 1;
  transform: rotate(-135deg);
  top: 60vh;
  opacity: 0.35;
  filter: blur(120px);
  z-index: 0;
  opacity: 0.35;
  right: -200px;
  background: conic-gradient(#b137fc 60%, #0022ff 40%);
  height: 400px;
  border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
}

.planet-four {
  position: absolute;
  filter: blur(120px);
  aspect-ratio: 1;
  transform: rotate(-135deg);
  z-index: 0;
  top: 115vh;
  opacity: 0.45;
  left: -25%;
  background: conic-gradient(rgb(16, 183, 169) 60%, rgb(255, 14, 199) 40%);
  height: 500px;
  border-radius: 29% 71% 70% 30% / 22% 41% 59% 78%;
}

.planet-five {
  filter: blur(120px);
  position: absolute;
  transform: rotate(-135deg);
  top: 200vh;
  z-index: 0;
  opacity: 0.4;
  right: -30%;
  background: conic-gradient(rgb(16, 178, 183) 60%, rgb(255, 159, 14) 40%);
  height: 700px;
  aspect-ratio: 1;
  border-radius: 29% 71% 70% 30% / 22% 41% 59% 78%;
}

.planet-six {
  filter: blur(120px);
  position: absolute;
  transform: rotate(-135deg);
  top: 300vh;
  z-index: 0;
  opacity: 0.4;
  left: -25%;
  background: $waterfall;
  height: 600px;
  aspect-ratio: 1;
  border-radius: 29% 71% 70% 30% / 22% 41% 59% 78%;
}

.planet-seven {
  filter: blur(120px);
  position: absolute;
  transform: rotate(-135deg);
  top: 380vh;
  z-index: 0;
  opacity: 0.5;
  right: -25vw;
  background: $blue;
  height: 600px;
  aspect-ratio: 1;
  border-radius: 29% 71% 70% 30% / 22% 41% 59% 78%;
}

.planet-eight {
  position: absolute;
  filter: blur(120px);
    aspect-ratio: 1;
    transform: rotate(-135deg);
    top: 430vh;
    opacity: 0.4;
    left: -20%;
    background: conic-gradient(rgb(83, 16, 183) 60%, rgb(255, 159, 14) 40%);
    height: 550px;
    border-radius: 29% 71% 70% 30% / 22% 41% 59% 78%;
}