.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 550px;

  @media screen and (max-width: $mobile) {
    height: 700px;
  }

  // &:hover {
  //   .pronounce {
  //     opacity: 1;
  //   }
  // }
}

.website-version {
  position: absolute;
  right: -17px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 8px;
  font-family: "Maison";
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  opacity: 0.35;
  @media screen and (max-width: $mobile) {
    right: -15px;
    top: 46%;
  }
}

.pronounce {
  font-size: 0.5rem;
  margin-bottom: -2.25rem;
  margin-left: 10px;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 300ms ease;

  @media screen and (max-width: $mobile) {
    margin-bottom: 0;
    opacity: 1;
  }

  &::before,
  &::after {
    content: "/";
    color: $blue;
    padding: 0 0.5rem;
  }
}

.planet {
  background-color: #00b381;
  max-width: 500px;
  max-height: 500px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0.4;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  position: absolute;
  z-index: 3;
  top: 0;
  left: -100px;
}

.planet-two {
  background-color: #469ee6;
  max-width: 400px;
  max-height: 400px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0.4;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  position: absolute;
  z-index: 3;
  top: -250px;
  right: 0;
  transform: translateX(0%);
}
