// This applies from 0px to 600px
header {
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-weight: 400;
    font-size: 8rem;
    font-family: "Californication";
    margin-bottom: 1rem;

    span {
      @include glow-text;
    }
  }

  h2 {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgb(142, 163, 172);
  }

  h3 {
    @include glow-text;
  }
}

.hero {
  &:hover {
    .pronounce {
      opacity: 0.85;
    }
  }
}

.pronounce {
  font-size: 0.5rem;
  margin-bottom: -3.25rem;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 300ms ease;

  &::before,
  &::after {
    content: "/";
    color: $blue;
    padding: 0 0.5rem;
  }
}

main {
}

footer {
  font-size: 0.75rem;
  margin: 10vh 0;
  text-align: center;

  .contact-menu {
    margin-bottom: 2rem;
  }

  a.music {
    padding: 0.25rem;
    color: #2baae2;
    text-shadow: none;
  }
}

.villain {
  font-size: 4rem;
  margin-top: 5rem;
  font-family: "Californication";
}

// .circle {
//   background-color: #00b381;
//   width: 500px;
//   height: 500px;
//   border-radius: 50%;
//   opacity: 0.4;
//   -webkit-filter: blur(120px);
//   filter: blur(120px);
//   position: absolute;
//   z-index: 3;
//   top: 0;
//   left: -100px;
// }

// .circle2 {
//   background-color: #002398;
//   width: 500px;
//   height: 500px;
//   border-radius: 50%;
//   opacity: 0.4;
//   -webkit-filter: blur(120px);
//   filter: blur(120px);
//   position: absolute;
//   z-index: 3;
//   top: 300px;
//   right: -100px;
// }

// This applies from 600px onwards
@media (min-width: 600px) {
}
