// This applies from 0px to 600px
header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

h1 {
  font-weight: 400;
  font-size: 7rem;
  font-family: "The Californication";
  padding-bottom: 1rem;
  position: relative;
  z-index: 5;
  background: linear-gradient(
    135deg,
    rgba(112, 213, 255, 0.92),
    rgba(0, 89, 188, 0.92)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (max-width: 600px) {
    font-size: 4rem;
  }
  span {
    transition: text-shadow 2s ease-in-out;
    &:hover {
      text-shadow: 0 0 5px white, 0 0 15px white, 0 0 35px white, 0 0 5px white;
      transition: none;
    }
  }
}

h2 {
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(142, 163, 172);
  position: relative;
  z-index: 5;

  span {
    position: relative;
    transition: all 300ms ease;
    margin: 5px 0;
    display: inline-block;

    @media screen and (max-width: 600px) {
      margin: 0;
    }

    &.x {
      color: rgb(121, 166, 196);

      @media screen and (max-width: 600px) {
        display: block;
        margin: 0;
      }
    }

    &::before {
      content: "";
      width: 1px;
      height: 200%;
      background-color: white;
      box-shadow: 0 0 15px 0px white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      top: 0;
      transition: all 150ms ease;
      opacity: 0;
    }

    &:nth-child(even) {
      &::before {
        transform: translateX(-50%) translateY(-150%);
      }
    }
    &:nth-child(odd) {
      &::before {
        transform: translateX(-50%) translateY(150%);
      }
    }

    &:not(.x):hover {
      color: white;
      text-shadow: 0 0 15px white;
      transition: none;
      transform: scale(1.15);
      cursor: pointer;
      &::before {
        transform: translateY(-50%);
        opacity: 1;
        top: 50%;
      }
    }
  }
}

.pronounce {
  font-size: 0.5rem;
  margin-bottom: -3.25rem;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 300ms ease;

  @media screen and (max-width: 600px) {
    margin-bottom: 0;
    opacity: 1;
  }

  &::before,
  &::after {
    content: "/";
    color: $blue;
    padding: 0 0.5rem;
  }
}

main {
}

footer {
  font-size: 0.75rem;
  margin: 10vh 0;
  text-align: center;

  .villain {
    font-size: 3.5rem;
    margin-top: 5rem;
    font-family: "Californication";
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 2rem;
  }

  .contact-menu {
    margin-bottom: 2rem;
  }

  a {
    &.music {
      padding: 0.25rem;
      color: #2baae2;
      text-shadow: none;
    }
    &:not(.music) {
      margin: 0;
    }
  }
}
