aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 4rem;
  flex-wrap: wrap;
  max-width: 80vw;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    padding-top: 2.25rem;
  }
}

nav.menu {
  a {
    color: inherit;
    margin: 0.25rem;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 13px;
    position: relative;
    transition: color 300ms ease;

    &:hover {
      color: $blue;
      &:not(.music)::before {
        right: -4px;
        left: auto;
        width: calc(100% + 8px);
      }
    }

    &:not(.music)::before {
      content: "";
      position: absolute;
      width: 0;
      bottom: -5px;
      height: 1px;
      background-color: #63b5f8;
      background: linear-gradient(135deg, rgba(112, 213, 255, 0.8), rgba(0, 89, 188, 0.9));
      left: 0;
      transition: width 0.4s cubic-bezier(0.37, 0, 0.21, 1.02);
    }
  }
}

nav.main-menu {
  background-color: rgba(1, 9, 27, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 4;
  padding: 12rem 4rem 4rem;
  transition: transform 0.2s cubic-bezier(0.37, 0, 0.21, 1.02);
  max-width: 100%;
  width: 100%;
  transform: translateX(calc(100% + 1px));
  border-left: 1px solid $blue;

  @media screen and (max-width: $mobile) {
    padding: 7.5rem 0rem 4rem;
  }

  .menu-open & {
    transform: translateX(0);
  }

  .wrapper {
    margin: 0 auto;
    max-width: 80vw;
    width: 100%;
    text-align: right;
    overflow-y: scroll;
    height: 100%;
    padding: 0.8rem 0 0;
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      width: 100%;
      &:not(:last-child) {
        border-bottom: 1px solid rgb(255 255 255 / 5%);
      }

      a {
        font-size: 2.5rem;
        padding: 1rem 0;
        display: block;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 3px;

        @media screen and (max-width: $ipad) {
          font-size: 1.65rem;
          padding: 0.5rem 0;
        }
      }
    }
  }

  .eyebrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;

    @media screen and (max-width: $mobile) {
      gap: 0;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    li {
      width: fit-content;
      a {
        font-size: 1rem;
        margin-left: 5px;
      }
    }
  }

  .website-menu {
    max-width: 800px;
    width: 100%;
    margin: 0 0 0 auto;
    a {
      &:hover {
        background-image: linear-gradient(to left bottom, $blue, $blue) !important;
      }
    }
  }
}

nav.social-media {
  display: flex;
  margin-bottom: 2.5rem;
  margin-right: 7px;
  gap: 2rem;
  justify-content: flex-end;

  a {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.75rem;
    padding: 0 0.5rem;
    position: relative;

    &::before {
      content: none !important;
    }

    &:hover {
      path,
      circle {
        fill: white;
      }

      &::after {
        transform: scale(1.25) translateX(-40%) translateZ(0);
        opacity: 1;
      }

      span {
        opacity: 1;
      }
    }

    &:first-child::after {
      background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    }

    &:nth-child(3)::after {
      background: #e83e80;
    }

    &:nth-child(2):after {
      background: #888093;
    }

    &::after {
      content: "";
      border-radius: 50%;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -8px;
      left: 50%;
      z-index: -1;

      transform: translateX(-50%) scale(0.3);
      opacity: 0;
      box-shadow: 0 5px 15px 0 rgb(0 0 0 / 25%);
      transition:
        transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transform: scale(1.25) translateX(-40%) translateZ(0);
      opacity: 1;
    }
  }

  span {
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-family: "Maison";
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    opacity: 0;
    position: absolute;
    top: -0.75rem;

    .midnight & {
      color: white;
    }

    &::after {
      content: "";
      width: 1px;
      height: 14px;
      background-color: rgba(4, 4, 17, 0.5);
      bottom: -14px;
    }
  }

  svg {
    width: 32px;
    height: 32px;
    fill: rgba(255, 255, 255, 0.439);
  }
}

.logo {
  position: relative;
  z-index: 3;
  transition: transform 300ms ease;
  display: flex;

  svg {
    width: 90px;
    height: auto;
    position: relative;
    z-index: 3;
    transition: transform 300ms ease;
    overflow: visible !important;
    stroke-linecap: round;

    @media screen and (max-width: $mobile) {
      width: 70px;
    }

    .s-line {
      fill: rgb(15, 15, 15);
      stroke: rgb(15, 15, 15);
      stroke-width: 1px;
      stroke-dasharray: 126.93897247314453;
      stroke-dashoffset: 126.93897247314453;
      transition: fill 300ms ease;

      .midnight & {
        stroke: white;
        fill: white;
      }
    }
    .r-line {
      stroke-width: 1px;
      transition: fill 300ms ease;
      stroke-dasharray: 160.04493713378906;
      stroke-dashoffset: 160.04493713378906;
    }
  }

  stop {
    transition: all 300ms ease;
  }

  &:hover {
    svg {
      transform: scale(1.5);
    }
    .s-line {
      animation: stroke-offset 1.4s ease forwards;
      fill: transparent;

      .midnight & {
        fill: transparent;
      }
    }

    .r-line {
      animation: stroke-offset 0.8s ease forwards 0.2s;
      transition: fill 300ms ease;
      stroke: $blue;
    }

    stop:first-child {
      stop-color: transparent;
    }
    stop:last-child {
      stop-color: transparent;
    }
  }
}

.menu-toggle {
  display: flex;
  align-items: center;
  padding: 5px 0 5px 15px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  position: relative;
  z-index: 5;

  &:focus {
    // outline: white solid 1px;
    // border: 2px solid blue;
    border-radius: 3px;
    outline-offset: 1px;
    outline: -webkit-focus-ring-color auto 1px;
  }

  &:hover {
    .burger {
      span {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          background-color: #90daff;
          box-shadow: 0 0 15px 0 rgba($blue, 0.25);
        }
      }
    }
    .menu-title {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .burger {
    width: 55px;
    height: 32px;
    position: relative;
    transition: transform 200ms ease-in-out;

    @media screen and (max-width: $mobile) {
      width: 45px;
      height: 24px;
    }

    span {
      width: 100%;
      height: 4px;
      background-color: $blue;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      transform-origin: center;

      &::before {
        content: "";
        background-color: $waterfall;
        width: 20px;
        height: 4px;
        position: absolute;
        top: 0;
        left: -15px;
      }

      &:nth-child(1) {
        transition:
          opacity 300ms ease,
          transform 300ms ease,
          background-color 300ms ease 0s,
          box-shadow 300ms ease 0s;
        transform-origin: center center;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateX(0) translateY(-50%);
        transition:
          opacity 600ms ease,
          transform 1s ease,
          background-color 300ms ease 200ms,
          box-shadow 300ms ease 200ms;
      }

      &:nth-child(3) {
        top: auto;
        bottom: 0;
        transition:
          opacity 300ms ease,
          transform 300ms ease,
          background-color 300ms ease 400ms,
          box-shadow 300ms ease 400ms;
      }
    }
  }
}

.menu-title {
  display: none;
  font-family: "Maison";
  text-transform: uppercase;
  top: 9px;
  position: absolute;
  left: -35px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  opacity: 0;
  transition:
    opacity 300ms ease,
    transform 300ms ease;
  transform: translateY(-20px);
}