.photograph {

}

.photograph-subtitle {
    color: $slate;
    font-size: 12px;
    margin-top: 0.75rem;
}

.photograph-text {
    text-align: center;
    opacity: 0;
    transition: opacity 300ms ease;
}

.photograph-title {
    font-family: $cali;
    font-size: 2.75rem;
    margin-top: -1.65rem;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);

    @media screen and (max-width: 1168px) {
        font-size: 1.75rem;
        margin-top: -12px;
        line-height: 20px;
    }
}

#photography {
    a {
        letter-spacing: 2px;
        margin-top: 1rem;
        font-size: 12px;
        display: inline-block;
        font-weight: 100;
        text-transform: uppercase;
    }
}