.project {
  cursor: pointer;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 2rem;
  box-sizing: border-box;
  position: relative;
  height: 400px;
  justify-content: center;
  transition: all 300ms ease;
  -webkit-transform: translate3d(0, 0, 0);

  &:hover {
    .project-title {
      text-shadow:
        0 0 25px rgba(0, 0, 0, 0.35),
        0 0 35px rgba(0, 0, 0, 0.35),
        0 1px 6px #ffffff80,
        0 1px 7px #fffc;
    }
    .project-background {
      &::before {
        transform: translateX(-50%) translateY(-200%);
      }
      &::after {
        transform: translateY(-50%) translateX(-50%) rotate(1200deg);
      }
    }
  }
}

section {
  margin-bottom: 20rem;

  @media screen and (max-width: $mobile) {
    margin-bottom: 10rem;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-bottom: 8rem;
    overflow-x: hidden;
    margin: 0 auto;

    .heading-desc {
      max-width: 420px;
      width: calc(100% - 4rem);
      font-size: 14px;
      margin-top: 2rem;
      color: $slate;
      text-align: center;
    }

    h3 {
      font-size: 5rem;
      z-index: 3;
      margin-bottom: -1rem;
      position: relative;
      font-weight: 400;
      font-family: $cali;
      text-shadow: 3px 3px 4px rgba(198, 168, 207, 0.61);
      text-shadow:
        0 1px 6px #ffffff80,
        0 1px 7px #fffc;

      &::before {
        content: "";
        width: 108%;
        height: 8px;
        position: absolute;
        bottom: 14px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        border-bottom: 8px solid $blue;
      }

      @media screen and (max-width: $mobile) {
        font-size: 4rem;
      }
    }
  }
}

.project-background {
  overflow: hidden;
  width: 100%;
  height: calc(100% - 2rem);
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  position: absolute;
  display: block;
  border-radius: 30px;
  box-shadow: 10px 15px 15px -2px rgba(0, 0, 0, 0.25);
  pointer-events: none;

  &::after {
    content: "";
    width: 1100px;
    height: 1100px;
    transform-origin: center;
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: transform 8000ms ease;
  }

  &::before {
    background-color: transparent;
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    transition: transform 300ms ease;
  }
}

.project-heading {
  transition: padding 300ms ease;
  text-align: center;
}

.project-title {
  font-size: 2.75rem;
  font-weight: bold;
  color: white;
  line-height: 100%;
  position: relative;
  z-index: 3;
  transition: text-shadow 300ms ease;
  text-shadow:
    0 0 25px rgba(0, 0, 0, 0.35),
    0 0 35px rgba(0, 0, 0, 0.35);

  @media screen and (max-width: $mobile) {
    font-size: 2.25rem;
  }

  @media screen and (max-width: $mini) {
    font-size: 1.25rem;
  }
}

.project-subtitle {
  color: grey;
  font-weight: 400;
  display: none;
  font-size: 0.9rem;
  color: #f2f2f2 !important;
  text-shadow:
    0 0 25px rgba(0, 0, 0, 0.35),
    0 0 45px rgba(0, 0, 0, 0.35),
    0 0 35px rgba(0, 0, 0, 0.35);
}

.project-agency {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
  position: relative;

  span {
    font-size: 0.75rem;
  }

  &::before {
    content: "While Working At";
    color: white;
    text-shadow: 0 0 5px white;
    display: block;
    font-weight: 400;
    font-size: 0.75rem;
  }
}

.project-year {
  font-size: 0.75rem;
}

.project-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
  width: 100%;
}

.project-tags {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &::before {
    content: "Technologies Used";
    color: white;
    display: block;
    font-weight: 400;
    font-size: 0.75rem;
    text-shadow: 0 0 5px white;
  }

  li {
    padding: 0.25rem 0.5rem;
    background-color: rgb(96, 197, 255, 0.25);
    border-radius: 5px;
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
}

.project-image {
  max-width: 450px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
}

.project-description {
  margin: 3rem 0;
  color: white;
}
.project-tagline {
  margin-bottom: 0.5rem;
}

.project-expand {
  color: rgb(195, 222, 231);
  font-size: 0.75rem;
  font-family: "Maison";
  opacity: 0;
  perspective: 100px;
  transform: rotateX(45deg);
  transition:
    opacity 300ms ease,
    transform 300ms ease;

  &::after {
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.9);
  }

  span {
    text-shadow:
      0 0 15px white,
      0 0 5px white;
    color: white;
    font-size: 0.85rem;
    position: relative;
    top: 0.5px;
  }
}

.project-link {
  display: inline-block;
  position: relative;
  padding: 0.75rem 1.5rem 0.75rem 4.1rem;
  background-color: rgba($blue, 0.75);
  border-radius: 4px;
  color: white;
  text-shadow: 0 0 15px white;
  box-shadow:
    3px 3px 0 0 white,
    7px 7px 0 0 rgb(96, 197, 255);
  transition: box-shadow 300ms ease;
  z-index: 3;

  &::after {
    content: "https";
    color: green;
    opacity: 0.8;
    background-color: lightgreen;
    position: absolute;
    padding: 0.25rem 0.5rem;
    font-size: 0.65rem;
    border-radius: 5px;
    left: 10px;
    top: 12px;
    display: block;
    z-index: 3;
  }
  &:hover {
    background-color: rgba(rgb(89, 158, 223), 1);
    box-shadow: 0 0 0 0 white;
    border-radius: 7px;
  }
}
