.project {
  cursor: pointer;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 6rem 4rem 4rem;
  position: relative;
  height: 420px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 3px;
  transition: all 300ms ease;
  overflow: hidden;

  &.open {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    max-height: 100%;
    height: 100%;
    border-radius: 0px;

    .project-heading {
      padding: 0;
    }

    .project-content {
      max-height: 100%;
      overflow: auto;
      padding: 1rem 0;
    }

    .project-expand {
      display: none;
    }

    &::before {
      transform: translateX(-50%) translateY(-200%);
    }
  }

  &:hover {
    .project-heading {
      padding: 0;
    }
    .project-expand {
      opacity: 1;
      transform: rotateX(0deg);
    }

    .project-background {
      &::before {
        transform: translateX(-50%) translateY(-200%);
      }
      &::after {
        transform: translateY(-50%) translateX(-50%) rotate(490deg);
      }
    }
  }

  @media screen and (max-width: 600px) {
    height: 240px;
    padding: 6rem 2rem 4rem;
    .project-image {
      opacity: 0.35;
    }
  }

  &:nth-child(even) {
    align-items: flex-start;
    text-align: left;

    .project-image {
      right: 20px;
    }

    .project-tags {
      align-items: flex-start;
      margin-right: 1.5rem;
    }

    .wrapper {
      margin-right: auto;
      justify-content: flex-start;
    }
  }

  &:nth-child(odd) {
    align-items: flex-end;
    // text-align: right;

    .project-image {
      left: 20px;
    }

    .project-tags {
      align-items: flex-end;
      order: 1;
      margin-left: 1.5rem;
    }

    .wrapper {
      margin-left: auto;
      justify-content: flex-end;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 370px;
  margin: 2rem 0;
}

section {
  margin-bottom: 16rem;

  .heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-bottom: 4rem;
    overflow-x: hidden;
    max-width: 70vw;
    margin: 0 auto;

    .heading-desc {
      max-width: 420px;
      width: calc(100% - 4rem);
      font-size: 12px;
      margin-top: 2rem;
      color: #a1aaa9;
    }

    h3 {
      font-size: 5rem;
      z-index: 1;
      margin-bottom: -1rem;
      position: relative;
      font-weight: 400;
      font-family: "Californication";
      text-shadow: 3px 3px 4px rgba(198, 168, 207, 0.61);
      text-shadow: 0 1px 6px #ffffff80, 0 1px 7px #fffc;

      &::before {
        content: '';
        width: 108%;
        height: 8px;
        position: absolute;
        bottom: 14px;
        left:50%;
        transform: translateX(-50%);
        z-index: -1;
        border-bottom: 8px solid #7aadff;

      }

      @media screen and (max-width: 600px) {
        font-size: 4rem;
      }
    }
  }

  &#websites {
    .swiper-slide {

    }
  }

  &#designs {
    .swiper-slide {
      padding: 1.5rem;
      background: #f2f2f2;
      border-radius: 1.5rem;
    }
  }

  &#photography {

    .swiper-pagination-bullets {
      bottom: -80px;
    }
    .swiper-pagination-bullet {
      background: white;
      width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
      height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
      border-radius: 0;
      transform: rotate(45deg);
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 12px);
    }
    .swiper-slide {
      padding: 1.5rem 1.5rem 5.5rem;
      background: white;
      // border-radius: 20px;

      
    }
  }
}

.project-background {
  overflow: hidden;
  width: 100%;
  height: calc(100% - 2rem);
  bottom: 0;
  position: absolute;
  left: 0;
  display: block;
  box-shadow: 10px 15px 15px -2px rgba(0, 0, 0, 0.25);

  &::after {
    content: "";
    width: 1100px;
    height: 1100px;
    transform-origin: center;
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: transform 1200ms ease;
  }

  &::before {
    background-color: transparent;
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    transition: transform 300ms ease;
  }
}

.project-close {
  background-color: red;
  height: 20px;
  width: 20px;
  // position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  cursor: pointer;
}

.project-heading {
  padding-top: 15px;
  transition: padding 300ms ease;
}

.project-title {
  font-size: 1.7rem;
  font-weight: 300;
  color: white;
}

.project-subtitle {
  color: grey;
  font-weight: 400;
  font-size: 0.9rem;
}

.project-agency {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
  position: relative;

  span {
    font-size: 0.75rem;
  }

  &::before {
    content: "While Working At";
    color: white;
    text-shadow: 0 0 5px white;
    display: block;
    font-weight: 400;
    font-size: 0.75rem;
  }
}

.project-background {
  pointer-events: none;
}

.project-year {
  font-size: 0.75rem;
}

.project-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
  width: 100%;
}

.project-tags {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &::before {
    content: "Technologies Used";
    color: white;
    display: block;
    font-weight: 400;
    font-size: 0.75rem;
    text-shadow: 0 0 5px white;
  }

  li {
    padding: 0.25rem 0.5rem;
    background-color: rgb(96, 197, 255, 0.25);
    border-radius: 5px;
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
}

.project-image {
  width: 300px;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.project-slides {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  .project-slide {
    height: 100px;
    background-color: grey;
    width: 150px;
  }
}

.project-description {
  margin: 3rem 0;
  color: white;
}
.project-tagline {
  margin-bottom: 0.5rem;
}

.project-expand {
  color: rgb(195, 222, 231);
  font-size: 0.75rem;
  font-family: "Maison";
  opacity: 0;
  perspective: 100px;
  transform: rotateX(45deg);
  transition: opacity 300ms ease, transform 300ms ease;

  &::after {
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.9);
  }

  span {
    text-shadow: 0 0 15px white, 0 0 5px white;
    color: white;
    font-size: 0.85rem;
    position: relative;
    top: 0.5px;
  }
}

.project-link {
  display: inline-block;
  position: relative;
  padding: 0.75rem 1.5rem 0.75rem 4.1rem;
  background-color: rgba($blue, 0.75);
  border-radius: 4px;
  color: white;
  text-shadow: 0 0 15px white;
  box-shadow: 3px 3px 0 0 white, 7px 7px 0 0 rgb(96, 197, 255);
  transition: box-shadow 300ms ease;
  z-index: 3;

  &::after {
    content: "https";
    color: green;
    opacity: 0.8;
    background-color: lightgreen;
    position: absolute;
    padding: 0.25rem 0.5rem;
    font-size: 0.65rem;
    border-radius: 5px;
    left: 10px;
    top: 12px;
    display: block;
    z-index: 3;
  }
  &:hover {
    background-color: rgba(rgb(89, 158, 223), 1);
    box-shadow: 0 0 0 0 white;
    border-radius: 7px;
  }
}

// Web
#sontag {
  .project-subtitle {
    color: rgb(154, 162, 187);
  }
  .project-background::after {
    background-image: linear-gradient(
      to right top,
      #0042a4,
      #003b8b,
      #003473,
      #002c5a,
      #042342
    );
  }
}

#hhmi {
  .project-subtitle {
    color: rgb(201, 219, 204);
  }

  .project-link {
  }
  .project-background::after {
    background: linear-gradient(270deg, #82bb44 0%, #178387 100%);
  }
}

#vilcek {
  .project-subtitle {
    color: rgb(177, 169, 143);
  }

  .project-link {
  }
  .project-background::after {
    background-image: linear-gradient(
      to right top,
      #b8a276,
      #a48d60,
      #90784b,
      #7c6437,
      #695123
    );
  }
}

#exhaustnotes {
  .project-subtitle {
    color: rgb(184, 164, 162);
  }

  .project-link {
  }
  .project-background::after {
    background-image: linear-gradient(
      to right top,
      #8e2626,
      #742526,
      #592424,
      #3f2121,
      #251d1d
    );
  }
}
#amanda {
  .project-subtitle {
    color: rgb(167, 125, 164);
  }

  .project-link {
  }
  .project-background::after {
    background-image: linear-gradient(
      to left bottom,
      #2f0932,
      #450c49,
      #5c0f60,
      #750f79,
      #8f0e92
    );
  }
}

// Design
#lehigh2018 {
  background-color: rgb(90, 38, 0);
}

#fudtruk {
  background-color: orange;
}

#logos {
  background-color: rgb(206, 61, 150);
}

// Photography
#portraits {
}

#cosplay {
}

#nature {
}
