section {
  margin-bottom: 5vh;
  .heading {
    margin-bottom: 2rem;

    h3 {
      font-size: 2.75rem;
      margin-left: -1rem;
      margin-bottom: -3.25rem;
      z-index: 1;
      position: relative;
      font-weight: 400;
      font-family: "Californication";
    }
  }
  .content {
    display: flex;
  }
}

.project {
  //   border: 1px solid rgb(76, 76, 76);
  cursor: pointer;
  display: flex;
  width: 25%;
  flex-direction: column;
  padding: 2.5vw 2rem;
  margin-bottom: 5vh;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.project-description {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;

  .midnight & {
    max-height: 700px;
    overflow: auto;
    padding: 1rem 0;
  }
}

.project-tagline {
  margin-bottom: 0.5rem;
}

.project-expand {
  color: lightblue;
  font-size: 0.75rem;
}

// Web
#sontag {
  background-color: rgba(3, 31, 58, 0.975);
}

#hhmi {
  background-color: #009444;
}

#amanda {
  background-color: #531a54;
}

#vilcek {
  background-color: #c2b59b;
}

// Design
#lehigh2018 {
  background-color: rgb(90, 38, 0);
}

#exhaustnotes {
  background-color: brown;
}

#fudtruk {
  background-color: orange;
}

#logos {
  background-color: rgb(206, 61, 150);
}

// Photography
#portraits {
}

#cosplay {
}

#nature {
}
