
.swiper {


    .swiper-button-next {
        right: 132px;
    }

    .swiper-button-prev {
        left: auto;
        right: 210px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: -150px;

        @media screen and (max-width: 800px) {
            display: none;
        }
    }

    

}


.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
background-image: none !important;
opacity: 0.7;
}


#websites {
    .swiper-slide-prev,
    .swiper-slide-next {
        opacity: 0.7;
    }
.swiper-slide {
}
}

#designs {
.swiper-slide {
    padding: 1.5rem;
    background: #f2f2f2;
    border-radius: 1.5rem;
}

.swiper-pagination-bullets {
    display: none;

    bottom: -60px;
}
.swiper-pagination-bullet {
    background: white;
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}
}

#photography {
.swiper-pagination-bullets {
    display: none;
    bottom: -80px;
}
.swiper-pagination-bullet {
    background: white;
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 12px);
}
.swiper-slide {
    transition: all 300ms ease;
}
// .swiper-slide.swiper-slide-active {
//   padding: 1.5rem 1.5rem 5.5rem;
//   background: white;

//   @media screen and (max-width: $mobile) {
//     padding: 0;
//   }
// }
}