.swiper {
    .swiper-button-prev,
    .swiper-button-next {
        top: -50px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: $blue;
        transition: all 300ms ease;
        border-radius: 10px;
        border: 1px solid rgba(white, 0.2);
        width: 100px;
        height: 40px;

        &::after {
            font-size: 20px;
        }
        &:hover {
            color: white;
            background-color: $blue;
            font-weight: bold;
        }

        &:active {
            background-color: $waterfall;
        }
    }

    .swiper-button-next {
        left: calc(50% + 4rem);
    }

    .swiper-button-prev {
        left: calc(50% - 4rem);
    }
}

.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
    background-image: none !important;
    opacity: 0.7;
    transition: all 300ms ease;
}

#websites {
    .swiper-slide-prev,
    .swiper-slide-next {
        opacity: 0.7;
    }
    .swiper-slide {
    }
}

#designs {
    .swiper-slide {
        padding: 1.5rem;
        background: #f2f2f2;
        border-radius: 1.5rem;
    }

    .swiper-pagination-bullets {
        display: none;
        bottom: -60px;
    }
    .swiper-pagination-bullet {
        background: white;
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
        border-radius: 0;
        transform: rotate(45deg);
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
    }
}

#photography {
    .swiper-pagination-bullets {
        display: none;
        bottom: -80px;
    }
    .swiper-pagination-bullet {
        background: white;
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
        border-radius: 0;
        transform: rotate(45deg);
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 12px);
    }
    .swiper-slide {
        transition: all 300ms ease;
    }

    .swiper-slide-active {
        &:hover,
        &:active,
        &:focus {
            .photo-text {
                opacity: 1;
            }
        }
    }

    .photo-text {
        text-align: center;
        opacity: 0;
        transition: opacity 300ms ease;
        padding-bottom: 1rem;
    }

    .photo-caption {
        font-family: "Californication";
        font-size: 2.5rem;
        margin-top: -1.65rem;
        text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);

        @media screen and (max-width: 1168px) {
            font-size: 2.1rem;
            margin-top: -1.25rem;
        }
    }

    a {
        letter-spacing: 2px;
        margin-top: 1rem;
        display: inline-block;
        font-weight: 100;
        text-transform: uppercase;
    }
}