.website {
  background-attachment: fixed;

  h1 {
    margin-top: 11rem;
    font-size: 6rem;
    text-align: center;
  }

  main {
    max-width: 80vw;
    margin: 0 auto;
  }

  .website-image {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.2;
    min-width: 800px;
    margin: 0 auto;
    padding: 4rem;
  }

  .website-heading {
    margin-bottom: 4rem;
  }

  a.website-link {
    font-size: 22px;
    font-weight: bold;
    display: block;
    transition: color 300ms ease;

    &:hover {
      color: $waterfall;
    }
  }

  .website-info {
    text-align: right;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;

    @media screen and (max-width: $ipad) {
      text-align: left;
    }

    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  .website-description {
    max-width: 476px;
    width: 100%;

    p {
      font-size: 18px;
      line-height: 32px;
      font-weight: 100;
    }
  }

  label {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
    text-shadow: 0 1px 8px #fffc;
  }
}

.main-menu {
  .website-menu {
    li {
      &:first-child {
        a {
          background-image: linear-gradient(to left bottom, #f59431, #80221b);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      &:nth-child(4) {
        a {
          background-image: linear-gradient(180deg, #0042a4, #020f1d);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &:nth-child(5) {
        a {
          background: linear-gradient(270deg, #82bb44 0%, #178387 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &:nth-child(6) {
        a {
          background-image: linear-gradient(to right top, #dfd1b4, #90784b, #4c370f);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &:nth-child(3) {
        a {
          background-image: linear-gradient(to left bottom, #8b6947, #2e0e04);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &:nth-child(2) {
        a {
          background-image: linear-gradient(to left bottom, #1d9bf0, #00274b);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.sontag {
  background-image: linear-gradient(to right top, #0042a4, #020f1d);
}

#sontag {
  .project-subtitle {
    color: rgb(154, 162, 187);
  }

  .project-image {
    max-width: 600px;
    top: 45%;
  }

  .project-background::after {
    background-image: linear-gradient(to right top, #0042a4, #020f1d);
  }
}

.hhmi {
  background: linear-gradient(90deg, #82bb44 0%, #178387 100%);
}

#hhmi {
  .project-subtitle {
    color: rgb(201, 219, 204);
  }

  .project-image {
    transform: translateX(-50%) translateY(-50%) rotate(8deg);
  }

  .project-background::after {
    background: linear-gradient(270deg, #82bb44 0%, #178387 100%);
  }
}

.vilcek {
  background-image: linear-gradient(to right top, #dfd1b4, #90784b, #4c370f);

}

#vilcek {
  .project-subtitle {
    color: rgb(177, 169, 143);
  }

  .project-image {
    max-width: 360px;
  }

  .project-background::after {
    background-image: linear-gradient(to right top, #dfd1b4, #90784b, #4c370f);
  }
}

.brookings {
  background-image: linear-gradient(360deg, #1473b2, #00274b);

}

#brookings {
  .project-subtitle {
    color: rgb(167, 125, 164);
  }

  .project-link {
  }
  .project-background::after {
    background-image: linear-gradient(to left bottom, #1d9bf0, #00274b);
  }
}

.homeplanetfund {
  background-image: linear-gradient(to left bottom, #f59431, #80221b);
}

#homeplanetfund {
  .project-background::after {
    background-image: linear-gradient(to left bottom, #f59431, #80221b);
  }
}

.lehigh {
  background-image: linear-gradient(to left bottom, #8b6947, #2e0e04);
}

#lehigh {
  .project-image {
    max-width: 370px;
  }
  .project-background::after {
    background-image: linear-gradient(to left bottom, #8b6947, #2e0e04);
  }
}
