.sontag {
  background-image: linear-gradient(
    to right top,
    #0042a4,
    #020f1d
  );

    h1 {
      margin-top: 6rem;
      font-size: 6rem;
    }

    main {
        max-width: 80vw;
        margin: 0 auto;
    }
  }


#sontag {
  .project-subtitle {
    color: rgb(154, 162, 187);
  }

  .project-image {
    max-width: 600px;
    top: 45%;
  }
  
  .project-background::after {
    background-image: linear-gradient(
      to right top,
      #0042a4,
      #020f1d
    );
  }
}


.hhmi {
  background: linear-gradient(270deg, #82bb44 0%, #178387 100%);
}

#hhmi {
  .project-subtitle {
    color: rgb(201, 219, 204);
  }

  .project-image {
    transform: translateX(-50%) translateY(-50%) rotate(8deg);
  }

  .project-background::after {
    background: linear-gradient(270deg, #82bb44 0%, #178387 100%);
  }
}

#vilcek {
  .project-subtitle {
    color: rgb(177, 169, 143);
  }

  .project-image {
    max-width: 360px;
  }

  .project-background::after {
    background-image: linear-gradient(
      to right top,
      #dfd1b4,
      #90784b,
      #4c370f
    );
  }
}

.brookings {
  
}

#brookings {
  .project-subtitle {
    color: rgb(167, 125, 164);
  }

  .project-link {
  }
  .project-background::after {
    background-image: linear-gradient(
      to left bottom,
      #1d9bf0,
      #00274b
    );
  }
}

#homeplanetfund {
  .project-background::after {
    background-image: linear-gradient(
      to left bottom,
      #f59431,
      #80221b,
    
    );
  }
}


#lehighaad {
  .project-image {
    max-width: 370px;
  }
  .project-background::after {
    background-image: linear-gradient(
      to left bottom,
      #8b6947,
      #2e0e04,
    );
  }
}